<header class="page-header">

    <div class="container">
        <div class="page-header__row">
            <div class="page-header__menu">
                <div class="container">
                    <div class="page-header__menu-inner">
                        <nav class="page-header__menu-nav">
                            <ul>
                                <li>
                                    <a href="#">
                                        Наш подход
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Выбрать компьютер
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Как заказать
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        О компании
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Причины доверять нам
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Как мы создаЁм мечту
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Вопрос-Ответ
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Отзывы
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <ul class="page-header__menu-social-list">
                            <li class="page-header__menu-social-list-item">
                                <a href="#" class="page-header__menu-social-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-vk">
                                        <use xlink:href="#youtube"></use>
                                    </svg>
                                    YouTube канал
                                </a>
                            </li>
                            <li class="page-header__menu-social-list-item">
                                <a href="#" class="page-header__menu-social-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-vk">
                                        <use xlink:href="#vk"></use>
                                    </svg>
                                    Группа в ВК
                                </a>
                            </li>
                            <li class="page-header__menu-social-list-item">
                                <a href="#" class="page-header__menu-social-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                    Инстаграм
                                </a>
                            </li>
                            <li class="page-header__menu-social-list-item">
                                <a href="#" class="page-header__menu-social-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-tiktok">
                                        <use xlink:href="#tiktok"></use>
                                    </svg>
                                    ТикТок
                                </a>
                            </li>
                        </ul>
                        <div class="page-header__menu-mops">
                            <img src="img/menu-mops.png" alt="" class="page-header__menu-mops-image">
                            <div class="page-header__menu-mops-text">
                                <p>
                                    С вашего разрешения, мы снимем целый ролик про ПК на наш YouTube канал. Ваш
                                    компьютер будет предметом восхищения сотен тысяч человек!
                                    (Я в этом ролике тоже буду, обязательно)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <a href="index.html" class="page-header__logo">
                <img src="img/logo.svg" alt="" class="page-header__logo-image" width="170">
            </a>
            <nav class="page-header__nav">
                <ul>
                    <li>
                        <a href="#">О компании</a>
                    </li>
                    <li>
                        <a href="#">Отзывы</a>
                    </li>
                    <li>
                        <a href="#">Частые вопросы</a>
                    </li>
                </ul>
            </nav>

            <div class="page-header__buttons">
                <a href="#" class="page-header__button">
                    Связаться
                </a>
                <a href="#" class="page-header__button page-header__button--filled">
                    Заказать
                </a>
            </div>

            <button class="page-header__burger" type="button">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>