<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="index.html" class="page-header__logo">
                <img src="img/logo.svg" alt="" class="page-header__logo-image" width="170">
            </a>
            <nav class="page-header__nav">
                <ul>
                    <li>
                        <a href="#">О компании</a>
                    </li>
                    <li>
                        <a href="#">Отзывы</a>
                    </li>
                    <li>
                        <a href="#">Частые вопросы</a>
                    </li>
                </ul>
            </nav>

            <div class="page-header__buttons">
                <a href="#" class="page-header__button">
                    Связаться
                </a>
                <a href="#" class="page-header__button page-header__button--filled">
                    Заказать
                </a>
            </div>

            <button class="page-header__burger" type="button">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>