{{#extend "layout"}}
{{#content "main"}}


<section class="intro">
    <div class="intro__bg">
        <img src="img/intro-bottom-bg.png" alt="" class="intro__bg-image">
    </div>
    <div class="container">
        <div class="intro__row">
            <div class="intro__col">
                <h1 class="intro__main-heading">
                    Создаём<br>
                    компьютеры<br>
                    мечты
                </h1>
                <div class="intro__order">
                    <div class="intro__order-count">
                        <div class="intro__order-count-number">
                            94
                        </div>
                        <div class="intro__order-count-text">
                            компьютера<br> уже создано
                        </div>
                    </div>
                    <a href="#" class="intro__order-btn">
                        заказать
                        <svg width="14" height="14" aria-hidden="true" class="icon-order-arrow">
                            <use xlink:href="#order-arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="intro__col">
                <div class="intro__community-wrapper">


                    <div class="intro__community">
                        Компьютеры от cамого большого <img src="img/youtube-red.svg" alt="">&nbsp;YouTube-коммьюнити
                        в сфере
                        компьютерного железа
                    </div>
                </div>
                <div class="intro__pc-block">
                    <img data-src="img/mobile-pc.png" alt="" class="intro__pc-block-mobile-photo lazyload">

                </div>
            </div>
        </div>
    </div>
</section>


<section class="our-approach">
    <div class="container">
        <h2 class="section-heading our-approach__heading">
            Наш подход
        </h2>
        <div class="our-approach__text">
            <p>
                Учтём все ваши пожелания и бюджет, исходя из которого мы создадим вам лучший компьютер. Протестируем
                и сделаем всё, чтоб он радовал вас многие годы!
            </p>
        </div>
    </div>
</section>

<div class="why-brigman-pin-wrapper">
    <section class="purpose">
        <div class="container">
            <div class="purpose__content">
                <div class="purpose__col">
                    <h2 class="section-heading purpose__small-heading">
                        Для чего
                    </h2>
                    <h3 class="purpose__large-heading">
                        Выберите компьютер под ваши цели и желания
                    </h3>
                    <a href="#" class="purpose__link">
                        Связаться
                    </a>
                </div>
                <div class="purpose__col">
                    <ul class="purpose__list">
                        <li class="purpose__list-item">
                            <a href="#" class="purpose__card">
                                <h4 class="purpose__card-title">
                                    игровой пк
                                </h4>
                                <div class="purpose__card-image-container">
                                    <img src="img/rainbow-blurred-circle.svg" alt="" class="purpose__card-blur">
                                    <img data-src="img/pc-1.png" alt="" class="purpose__card-image lazyload">
                                </div>
                                <div class="purpose__card-text">
                                    <p>
                                        Мощь, внешний вид и гейминг на ультрах
                                    </p>
                                </div>
                                <div class="purpose__card-choose">
                                    Выбрать +
                                </div>
                            </a>
                        </li>
                        <li class="purpose__list-item">
                            <a href="#" class="purpose__card">
                                <h4 class="purpose__card-title">
                                    рабочий пк
                                </h4>
                                <div class="purpose__card-image-container">
                                    <img src="img/blue-blurred-circle.svg" alt="" class="purpose__card-blur">
                                    <img data-src="img/pc-2.png" alt="" class="purpose__card-image lazyload">
                                </div>
                                <div class="purpose__card-text">
                                    <p>
                                        Производительность, солидность и ваш высокий КПД в работе
                                    </p>
                                </div>
                                <div class="purpose__card-choose">
                                    Выбрать +
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section class="how-to-order">
        <img src="img/how-to-order-gradient.svg" alt="" class="how-to-order__gradient">
        <div class="container">
            <div class="how-to-order__grid">
                <div class="how-to-order__heading-block">
                    <h2 class="section-heading how-to-order__small-heading">
                        Как заказать
                    </h2>
                    <h3 class="how-to-order__large-heading">
                        Всего 5 шагов и компьютер ваш!
                    </h3>
                </div>
                <div class="how-to-order__slider js-how-to-order-slider">
                    <div class="swiper-container">



                        <ol class="swiper-wrapper how-to-order__list">
                            <li class="swiper-slide how-to-order__list-item">
                                <div class="how-to-order__card">
                                    <div class="how-to-order__card-content">
                                        <h4 class="how-to-order__card-title">
                                            Заявка
                                        </h4>
                                        <div class="how-to-order__card-text">
                                            <p>
                                                Вы оставляете заявку на сайте
                                            </p>
                                        </div>
                                        <a href="#" class="how-to-order__card-link">
                                            Напишите нам
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide how-to-order__list-item">
                                <div class="how-to-order__card">
                                    <div class="how-to-order__card-content">
                                        <h4 class="how-to-order__card-title">
                                            Полное сопровождение
                                        </h4>
                                        <div class="how-to-order__card-text">
                                            <p>
                                                Наш специалист учтёт все ваши пожелания и сразу запустит процесс
                                                изготовления
                                                компьютера
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide how-to-order__list-item">
                                <div class="how-to-order__card">
                                    <div class="how-to-order__card-content">
                                        <h4 class="how-to-order__card-title">
                                            Оплата
                                        </h4>
                                        <div class="how-to-order__card-text">
                                            <p>
                                                Как только всё будет согласовано с менеджером, вы сможете оплатить свой
                                                заказ.
                                                Мы
                                                принимаем оплату как от физических, так и от юридических лиц
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide how-to-order__list-item">
                                <div class="how-to-order__card">
                                    <div class="how-to-order__card-content">
                                        <h4 class="how-to-order__card-title">
                                            Контроль качества
                                        </h4>
                                        <div class="how-to-order__card-text">
                                            <p>
                                                Мы оперативно проведём расширенное тестирование вашего компьютера в
                                                различных
                                                программах и играх. Далее компьютер проходит дополнительный технический
                                                контроль
                                                качества
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide how-to-order__list-item">
                                <div class="how-to-order__card">
                                    <div class="how-to-order__card-content">
                                        <h4 class="how-to-order__card-title">
                                            Доставка по всей России и СНГ
                                        </h4>
                                        <div class="how-to-order__card-text">
                                            <p>
                                                Мы отправим вам компьютер в нашем эксклюзивном защитном ящике
                                                транспортной
                                                компанией. Также имеется возможность самовывоза в г. Ярославль
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </li>

                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="video js-video">
        <div class="container">
            <div class="video__card">
                <div class="video__card-media">
                    <img data-src="img/video-preview.jpg" alt="" class="lazyload">
                    <div class="video__card-media-plyr-wrapper">


                        <div class="video__card-media-plyr" data-plyr-provider="youtube"
                            data-plyr-embed-id="bTqVqk7FSmY">
                        </div>
                    </div>
                </div>
                <div class="video__card-content">
                    <h2 class="section-heading video__card-heading">
                        О компании
                    </h2>
                    <div class="video__card-inner">
                        <h3 class="video__card-title">
                            Команда Бригмана - это экспертный взгляд на компьютеры и 10-летний опыт работы с ними
                        </h3>
                        <a href="#" class="video__card-link">
                            Заказать компьютер
                        </a>
                    </div>
                </div>
                <button class="video__card-close" type="button">
                    <svg width="14" height="14" aria-hidden="true" class="icon-close">
                        <use xlink:href="#close"></use>
                    </svg>
                </button>
            </div>
        </div>
    </section>



    <section class="why-brigman js-why-brigman">
        <div class="why-brigman__bg">
            <img data-src="img/why-brigman-bg.png" alt="" class="why-brigman__bg-image lazyload">
        </div>
        <div class="container">
            <div class="why-brigman__row">
                <div class="why-brigman__heading-block">
                    <h2 class="section-heading why-brigman__small-heading">
                        6 причин
                    </h2>
                    <h3 class="why-brigman__large-heading">
                        почему именно «BRIGman»
                    </h3>
                    <a href="#" class="why-brigman__link">
                        Напишите нам
                    </a>
                </div>
                <div class="why-brigman__slider js-why-brigman-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="why-brigman__slider-card">
                                    <div class="why-brigman__slider-card-number">
                                        01
                                    </div>
                                    <div class="why-brigman__slider-card-content">
                                        <h4 class="why-brigman__slider-card-title">
                                            ПК под конкретную задачу и бюджет
                                        </h4>
                                        <div class="why-brigman__slider-card-text">
                                            <p>
                                                Мы учитываем все ваши пожелания и потребности. Для нас очень важно,
                                                чтобы вы
                                                остались довольны нашим продуктом. Мы создадим для вас идеальный
                                                компьютер
                                                под нужный бюджет.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="why-brigman__slider-card">
                                    <div class="why-brigman__slider-card-number">
                                        02
                                    </div>
                                    <div class="why-brigman__slider-card-content">
                                        <h4 class="why-brigman__slider-card-title">
                                            Расширенное тестирование
                                        </h4>
                                        <div class="why-brigman__slider-card-text">
                                            <p>
                                                Каждый компьютер проходит обязательный этап расширенного тестирования,
                                                который включает в себя список различных программ и игр. Вы получаете
                                                документацию со всеми результатами тестирования комплектующих.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="why-brigman__slider-card">
                                    <div class="why-brigman__slider-card-number">
                                        03
                                    </div>
                                    <div class="why-brigman__slider-card-content">
                                        <h4 class="why-brigman__slider-card-title">
                                            ПК под ключ и возможность выбора
                                        </h4>
                                        <div class="why-brigman__slider-card-text">
                                            <p>
                                                Мы предоставляем возможность выбора установки ПО и различных программ.
                                                Мы
                                                можем установить любые программы по вашему запросу, активировать их и
                                                полностью подготовить компьютер к работе. Также для экономии вы сможете
                                                отказаться от любого ПО, даже от Windows!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="why-brigman__slider-card">
                                    <div class="why-brigman__slider-card-number">
                                        04
                                    </div>
                                    <div class="why-brigman__slider-card-content">
                                        <h4 class="why-brigman__slider-card-title">
                                            Супер эксклюзивные проекты
                                        </h4>
                                        <div class="why-brigman__slider-card-text">
                                            <p>
                                                Опыт нашей команды - более 1000 компьютеров различной сложности. Мы
                                                можем
                                                создать любые проекты, с аэрографией и двухконтурной системой водяного
                                                охлаждения. Наши профессиональные дизайнеры сделают так, что любой гость
                                                в
                                                доме испытает яркие эмоции, увидев ваш компьютер. Также, с вашего
                                                разрешения, мы снимем целый ролик про ПК на наш YouTube канал. Ваш
                                                компьютер
                                                будет предметом восхищения сотен тысяч человек!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="why-brigman__slider-card">
                                    <div class="why-brigman__slider-card-number">
                                        05
                                    </div>
                                    <div class="why-brigman__slider-card-content">
                                        <h4 class="why-brigman__slider-card-title">
                                            Гарантия до 2х лет
                                        </h4>
                                        <div class="why-brigman__slider-card-text">
                                            <p>
                                                Стандартная гарантия - 1 год. Есть возможность её расширить до 2х лет.
                                                При
                                                любом намёке на проблему мы заберем ваш компьютер на диагностику. Для
                                                вас мы
                                                всегда на связи в любом удобном мессенджере.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="why-brigman__slider-card">
                                    <div class="why-brigman__slider-card-number">
                                        06
                                    </div>
                                    <div class="why-brigman__slider-card-content">
                                        <h4 class="why-brigman__slider-card-title">
                                            Комплектация
                                        </h4>
                                        <div class="why-brigman__slider-card-text">
                                            <p>
                                                Наша репутация - для нас всё! Вы получите компьютер в уникальном черном
                                                ящике с полной документацией в фирменном стиле. Также мы дарим
                                                брендированный металлический магнит с выгравированным порядковым номером
                                                вашего компьютера.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<section class="scheme js-scheme">
    <div class="container">
        <h2 class="section-heading scheme__heading">
            Схема работы
        </h2>
        <div class="ticker scheme__ticker js-ticker">
            <div class="ticker__track">
                <div class="ticker__inner-track">
                    <div class="ticker__item">
                        Как мы создаем мечту?<span>&nbsp;—&nbsp;</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="scheme__slider">

            <div class="swiper-container scheme__stages">
                <div class="swiper-wrapper scheme__stages-layers">
                    <div class="swiper-slide scheme__stages-layer">
                        <div class="scheme__stages-layer-bg">
                            <img data-src="img/layer.jpg" alt="" class="scheme__stages-layer-bg-image lazyload">
                        </div>
                        <div class="scheme__stages-layer-content">
                            <h3 class="scheme__stages-layer-title">
                                Подбор<br> конфигурации
                            </h3>
                            <div class="scheme__stages-layer-text">
                                <p>
                                    Подбираем оптимальную конфигурацию компьютера под ваши задачи: игры, стриминг,
                                    работа с
                                    графикой и прочее
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide scheme__stages-layer">
                        <div class="scheme__stages-layer-bg">
                            <img data-src="img/layer.jpg" alt="" class="scheme__stages-layer-bg-image lazyload">
                        </div>
                        <div class="scheme__stages-layer-content">
                            <h3 class="scheme__stages-layer-title">
                                Сборка<br>
                                компьютера
                            </h3>
                            <div class="scheme__stages-layer-text">
                                <p>
                                    Собираем системный блок и устанавливаем СВО (систему водяного охлаждения) руками
                                    профессионалов с многолетним опытом
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide scheme__stages-layer">
                        <div class="scheme__stages-layer-bg">
                            <img data-src="img/layer.jpg" alt="" class="scheme__stages-layer-bg-image lazyload">
                        </div>
                        <div class="scheme__stages-layer-content">
                            <h3 class="scheme__stages-layer-title">
                                Тестирование
                            </h3>
                            <div class="scheme__stages-layer-text">
                                <p>
                                    Проводим 10-часовое тестирование в программах и играх, близких к вашим задачам.

                                </p>
                                <p>
                                    Также дополнительно проводим стресс тест компьютерных комплектующих, а
                                    результаты
                                    фиксируем. Устанавливаем всё необходимое лицензионное ПО

                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide scheme__stages-layer">
                        <div class="scheme__stages-layer-bg">
                            <img data-src="img/layer.jpg" alt="" class="scheme__stages-layer-bg-image lazyload">
                        </div>
                        <div class="scheme__stages-layer-content">
                            <h3 class="scheme__stages-layer-title">
                                Контроль<br>
                                качества
                            </h3>
                            <div class="scheme__stages-layer-text">
                                <p>
                                    Проводим дополнительный контроль
                                    качества
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide scheme__stages-layer">
                        <div class="scheme__stages-layer-bg">
                            <img data-src="img/layer.jpg" alt="" class="scheme__stages-layer-bg-image lazyload">
                        </div>
                        <div class="scheme__stages-layer-content">
                            <h3 class="scheme__stages-layer-title">
                                Подготовка к<br> отправке
                            </h3>
                            <div class="scheme__stages-layer-text">
                                <p>
                                    Упаковываем системный блок и всю комплектацию в ударостойкий, не подверженный
                                    вибрации
                                    кастомный брендовый ящик
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scheme__stages-pagination">
                    <div class="scheme__stages-pagination-bullet active">
                        <span class="scheme__stages-pagination-bullet-text">
                            01
                        </span>

                    </div>
                    <div class="scheme__stages-pagination-bullet">

                        <span class="scheme__stages-pagination-bullet-text">
                            02
                        </span>
                    </div>
                    <div class="scheme__stages-pagination-bullet">

                        <span class="scheme__stages-pagination-bullet-text">
                            03
                        </span>
                    </div>
                    <div class="scheme__stages-pagination-bullet">

                        <span class="scheme__stages-pagination-bullet-text">
                            04
                        </span>
                    </div>
                    <div class="scheme__stages-pagination-bullet">

                        <span class="scheme__stages-pagination-bullet-text">
                            05
                        </span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<div class="reviews-pin-wrapper">


    <section class="faq js-faq">
        <div class="container">
            <h2 class="section-heading faq__heading">
                FAQ
            </h2>
            <h3 class="faq__large-heading">
                Часто задаваемые вопросы
            </h3>
            <div class="faq__row">
                <div class="faq__col">
                    <h4 class="faq__medium-heading">
                        Популярные
                        вопросы
                    </h4>
                    <ul class="faq__popular-list">
                        <li class="faq__popular-list-item">
                            <a href="#" class="faq__popular-link">
                                Вопросы по покупке
                            </a>
                        </li>
                        <li class="faq__popular-list-item">
                            <a href="#" class="faq__popular-link">
                                Вопросы по гарантии
                            </a>
                        </li>
                        <li class="faq__popular-list-item">
                            <a href="#" class="faq__popular-link">
                                Вопросы по оплате и доставке
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="faq__link">
                        Написать нам
                    </a>
                </div>
                <div class="faq__col">
                    <div class="faq__tabs">
                        <div class="faq__tabs-item">
                            <ul class="faq__list">
                                <li class="faq__list-item">
                                    <div class="faq__card js-accordion" data-close-other="">
                                        <div class="faq__card-inner">


                                            <div class="faq__card-btn js-accordion-btn">
                                                <div class="faq__card-btn-text">
                                                    За какую минимальную стоимость я могу купить у вас компьютер?
                                                </div>
                                                <div class="faq__card-btn-plus">
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="faq__card-content js-accordion-content">
                                                <div class="faq__card-content-inner">
                                                    Да, конечно! При действующей гарантии, мы проконсультируем вас, либо
                                                    по
                                                    вашему
                                                    запросу сами проведем апгрейд. Работы бесплатны, а само
                                                    комплектующее вы
                                                    можете
                                                    приобрести для апгрейда у нас.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="faq__list-item">
                                    <div class="faq__card js-accordion" data-close-other="">
                                        <div class="faq__card-inner">


                                            <div class="faq__card-btn js-accordion-btn">
                                                <div class="faq__card-btn-text">
                                                    Могу ли я купить у вас компьютер дешевле 150 000 рублей?
                                                </div>
                                                <div class="faq__card-btn-plus">
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="faq__card-content js-accordion-content">
                                                <div class="faq__card-content-inner">
                                                    Да, конечно! При действующей гарантии, мы проконсультируем вас, либо
                                                    по
                                                    вашему
                                                    запросу сами проведем апгрейд. Работы бесплатны, а само
                                                    комплектующее вы
                                                    можете
                                                    приобрести для апгрейда у нас.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="faq__list-item">
                                    <div class="faq__card js-accordion" data-close-other="">
                                        <div class="faq__card-inner">


                                            <div class="faq__card-btn js-accordion-btn">
                                                <div class="faq__card-btn-text">
                                                    Через сколько времени я получу
                                                    свой ПК?
                                                </div>
                                                <div class="faq__card-btn-plus">
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="faq__card-content js-accordion-content">
                                                <div class="faq__card-content-inner">
                                                    Да, конечно! При действующей гарантии, мы проконсультируем вас, либо
                                                    по
                                                    вашему
                                                    запросу сами проведем апгрейд. Работы бесплатны, а само
                                                    комплектующее вы
                                                    можете
                                                    приобрести для апгрейда у нас.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="faq__list-item">
                                    <div class="faq__card js-accordion" data-close-other="">
                                        <div class="faq__card-inner">


                                            <div class="faq__card-btn js-accordion-btn">
                                                <div class="faq__card-btn-text">
                                                    У меня есть часть комплектующих, могу ли я их вам прислать для
                                                    своего
                                                    ПК?
                                                </div>
                                                <div class="faq__card-btn-plus">
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="faq__card-content js-accordion-content">
                                                <div class="faq__card-content-inner">
                                                    Да, конечно! При действующей гарантии, мы проконсультируем вас, либо
                                                    по
                                                    вашему
                                                    запросу сами проведем апгрейд. Работы бесплатны, а само
                                                    комплектующее вы
                                                    можете
                                                    приобрести для апгрейда у нас.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="faq__list-item">
                                    <div class="faq__card js-accordion" data-close-other="">
                                        <div class="faq__card-inner">


                                            <div class="faq__card-btn js-accordion-btn">
                                                <div class="faq__card-btn-text">
                                                    У вас можно купить комплектующие отдельно?
                                                </div>
                                                <div class="faq__card-btn-plus">
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="faq__card-content js-accordion-content">
                                                <div class="faq__card-content-inner">
                                                    Да, конечно! При действующей гарантии, мы проконсультируем вас, либо
                                                    по
                                                    вашему
                                                    запросу сами проведем апгрейд. Работы бесплатны, а само
                                                    комплектующее вы
                                                    можете
                                                    приобрести для апгрейда у нас.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="faq__list-item">
                                    <div class="faq__card js-accordion" data-close-other="">
                                        <div class="faq__card-inner">


                                            <div class="faq__card-btn js-accordion-btn">
                                                <div class="faq__card-btn-text">
                                                    Я купил у вас компьютер. Вы поможете в будущем с апгрейдом?
                                                </div>
                                                <div class="faq__card-btn-plus">
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="faq__card-content js-accordion-content">
                                                <div class="faq__card-content-inner">
                                                    Да, конечно! При действующей гарантии, мы проконсультируем вас, либо
                                                    по
                                                    вашему
                                                    запросу сами проведем апгрейд. Работы бесплатны, а само
                                                    комплектующее вы
                                                    можете
                                                    приобрести для апгрейда у нас.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="faq__tabs-item">
                            <ul class="faq__list">
                                <li class="faq__list-item">
                                    <div class="faq__card js-accordion" data-close-other="">
                                        <div class="faq__card-inner">


                                            <div class="faq__card-btn js-accordion-btn">
                                                <div class="faq__card-btn-text">
                                                    За какую минимальную стоимость я могу купить у вас компьютер?
                                                </div>
                                                <div class="faq__card-btn-plus">
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="faq__card-content js-accordion-content">
                                                <div class="faq__card-content-inner">
                                                    Да, конечно! При действующей гарантии, мы проконсультируем вас, либо
                                                    по
                                                    вашему
                                                    запросу сами проведем апгрейд. Работы бесплатны, а само
                                                    комплектующее вы
                                                    можете
                                                    приобрести для апгрейда у нас.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="faq__list-item">
                                    <div class="faq__card js-accordion" data-close-other="">
                                        <div class="faq__card-inner">


                                            <div class="faq__card-btn js-accordion-btn">
                                                <div class="faq__card-btn-text">
                                                    Могу ли я купить у вас компьютер дешевле 150 000 рублей?
                                                </div>
                                                <div class="faq__card-btn-plus">
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="faq__card-content js-accordion-content">
                                                <div class="faq__card-content-inner">
                                                    Да, конечно! При действующей гарантии, мы проконсультируем вас, либо
                                                    по
                                                    вашему
                                                    запросу сами проведем апгрейд. Работы бесплатны, а само
                                                    комплектующее вы
                                                    можете
                                                    приобрести для апгрейда у нас.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="faq__list-item">
                                    <div class="faq__card js-accordion" data-close-other="">
                                        <div class="faq__card-inner">


                                            <div class="faq__card-btn js-accordion-btn">
                                                <div class="faq__card-btn-text">
                                                    Через сколько времени я получу
                                                    свой ПК?
                                                </div>
                                                <div class="faq__card-btn-plus">
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="faq__card-content js-accordion-content">
                                                <div class="faq__card-content-inner">
                                                    Да, конечно! При действующей гарантии, мы проконсультируем вас, либо
                                                    по
                                                    вашему
                                                    запросу сами проведем апгрейд. Работы бесплатны, а само
                                                    комплектующее вы
                                                    можете
                                                    приобрести для апгрейда у нас.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="faq__list-item">
                                    <div class="faq__card js-accordion" data-close-other="">
                                        <div class="faq__card-inner">


                                            <div class="faq__card-btn js-accordion-btn">
                                                <div class="faq__card-btn-text">
                                                    У меня есть часть комплектующих, могу ли я их вам прислать для
                                                    своего
                                                    ПК?
                                                </div>
                                                <div class="faq__card-btn-plus">
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="faq__card-content js-accordion-content">
                                                <div class="faq__card-content-inner">
                                                    Да, конечно! При действующей гарантии, мы проконсультируем вас, либо
                                                    по
                                                    вашему
                                                    запросу сами проведем апгрейд. Работы бесплатны, а само
                                                    комплектующее вы
                                                    можете
                                                    приобрести для апгрейда у нас.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="faq__list-item">
                                    <div class="faq__card js-accordion" data-close-other="">
                                        <div class="faq__card-inner">


                                            <div class="faq__card-btn js-accordion-btn">
                                                <div class="faq__card-btn-text">
                                                    У вас можно купить комплектующие отдельно?
                                                </div>
                                                <div class="faq__card-btn-plus">
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="faq__card-content js-accordion-content">
                                                <div class="faq__card-content-inner">
                                                    Да, конечно! При действующей гарантии, мы проконсультируем вас, либо
                                                    по
                                                    вашему
                                                    запросу сами проведем апгрейд. Работы бесплатны, а само
                                                    комплектующее вы
                                                    можете
                                                    приобрести для апгрейда у нас.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="faq__tabs-item">
                            <ul class="faq__list">
                                <li class="faq__list-item">
                                    <div class="faq__card js-accordion" data-close-other="">
                                        <div class="faq__card-inner">


                                            <div class="faq__card-btn js-accordion-btn">
                                                <div class="faq__card-btn-text">
                                                    За какую минимальную стоимость я могу купить у вас компьютер?
                                                </div>
                                                <div class="faq__card-btn-plus">
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="faq__card-content js-accordion-content">
                                                <div class="faq__card-content-inner">
                                                    Да, конечно! При действующей гарантии, мы проконсультируем вас, либо
                                                    по
                                                    вашему
                                                    запросу сами проведем апгрейд. Работы бесплатны, а само
                                                    комплектующее вы
                                                    можете
                                                    приобрести для апгрейда у нас.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="faq__list-item">
                                    <div class="faq__card js-accordion" data-close-other="">
                                        <div class="faq__card-inner">


                                            <div class="faq__card-btn js-accordion-btn">
                                                <div class="faq__card-btn-text">
                                                    Могу ли я купить у вас компьютер дешевле 150 000 рублей?
                                                </div>
                                                <div class="faq__card-btn-plus">
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="faq__card-content js-accordion-content">
                                                <div class="faq__card-content-inner">
                                                    Да, конечно! При действующей гарантии, мы проконсультируем вас, либо
                                                    по
                                                    вашему
                                                    запросу сами проведем апгрейд. Работы бесплатны, а само
                                                    комплектующее вы
                                                    можете
                                                    приобрести для апгрейда у нас.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="faq__list-item">
                                    <div class="faq__card js-accordion" data-close-other="">
                                        <div class="faq__card-inner">


                                            <div class="faq__card-btn js-accordion-btn">
                                                <div class="faq__card-btn-text">
                                                    Через сколько времени я получу
                                                    свой ПК?
                                                </div>
                                                <div class="faq__card-btn-plus">
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="faq__card-content js-accordion-content">
                                                <div class="faq__card-content-inner">
                                                    Да, конечно! При действующей гарантии, мы проконсультируем вас, либо
                                                    по
                                                    вашему
                                                    запросу сами проведем апгрейд. Работы бесплатны, а само
                                                    комплектующее вы
                                                    можете
                                                    приобрести для апгрейда у нас.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="faq__list-item">
                                    <div class="faq__card js-accordion" data-close-other="">
                                        <div class="faq__card-inner">


                                            <div class="faq__card-btn js-accordion-btn">
                                                <div class="faq__card-btn-text">
                                                    У меня есть часть комплектующих, могу ли я их вам прислать для
                                                    своего
                                                    ПК?
                                                </div>
                                                <div class="faq__card-btn-plus">
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="faq__card-content js-accordion-content">
                                                <div class="faq__card-content-inner">
                                                    Да, конечно! При действующей гарантии, мы проконсультируем вас, либо
                                                    по
                                                    вашему
                                                    запросу сами проведем апгрейд. Работы бесплатны, а само
                                                    комплектующее вы
                                                    можете
                                                    приобрести для апгрейда у нас.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="reviews js-reviews">
        <div class="reviews__bg">
            <img data-src="img/reviews-bg.png" alt="" class="reviews__bg-image lazyload">
        </div>


        <picture>
            <source srcset="img/reviews-mobile-blur.svg" media="(max-width: 640px)">
            <img src="img/reviews-bg-blur.svg" alt="" class="reviews__bg-blur">
        </picture>
        <div class="container">
            <h2 class="section-heading reviews__heading">
                Отзывы
            </h2>
            <div class="reviews__row">
                <div class="reviews__info">
                    <h3 class="reviews__large-heading">
                        Уже купили
                        у&nbsp;нас компьютер
                    </h3>
                    <a href="#" class="reviews__link">
                        Все отзывы
                    </a>
                </div>
                <div class="reviews__slider js-reviews-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="reviews__slider-card">
                                    <div class="reviews__slider-card-image-container">
                                        <img data-src="img/reviews/1.jpg" alt=""
                                            class="reviews__slider-card-image lazyload">
                                    </div>
                                    <div class="reviews__slider-card-content">


                                        <h4 class="reviews__slider-card-title">
                                            Спасибо команде Бригмана за отличный, мощный компьютер..
                                        </h4>
                                        <div class="reviews__slider-card-author">
                                            <div class="reviews__slider-card-author-name">
                                                Виктор Головин
                                            </div>
                                            <div class="reviews__slider-card-author-role">
                                                Компьютер для работы (3D, монтаж видео)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="reviews__slider-card-link">
                                        Читать отзыв
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="reviews__slider-card">
                                    <div class="reviews__slider-card-image-container">
                                        <img data-src="img/reviews/2.jpg" alt=""
                                            class="reviews__slider-card-image lazyload">
                                    </div>
                                    <div class="reviews__slider-card-content">


                                        <h4 class="reviews__slider-card-title">
                                            Заказывал компьютер сыну на День рождения, пришло все точно...
                                        </h4>
                                        <div class="reviews__slider-card-author">
                                            <div class="reviews__slider-card-author-name">
                                                Антон Петров


                                            </div>
                                            <div class="reviews__slider-card-author-role">
                                                Компьютер для работы (Фотошоп)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="reviews__slider-card-link">
                                        Читать отзыв
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="reviews__slider-card">
                                    <div class="reviews__slider-card-image-container">
                                        <img data-src="img/reviews/3.jpg" alt=""
                                            class="reviews__slider-card-image lazyload">
                                    </div>
                                    <div class="reviews__slider-card-content">


                                        <h4 class="reviews__slider-card-title">
                                            Спасибо команде Бригмана за отличный, мощный компьютер..
                                        </h4>
                                        <div class="reviews__slider-card-author">
                                            <div class="reviews__slider-card-author-name">
                                                Алан Магомедов


                                            </div>
                                            <div class="reviews__slider-card-author-role">
                                                Игровой компьютер
                                            </div>
                                        </div>
                                    </div>
                                    <div class="reviews__slider-card-link">
                                        Читать отзыв
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="reviews__slider-card">
                                    <div class="reviews__slider-card-image-container">
                                        <img data-src="img/reviews/4.jpg" alt=""
                                            class="reviews__slider-card-image lazyload">
                                    </div>
                                    <div class="reviews__slider-card-content">




                                        <h4 class="reviews__slider-card-title">
                                            Спасибо команде Бригмана за отличный, мощный компьютер..
                                        </h4>
                                        <div class="reviews__slider-card-author">
                                            <div class="reviews__slider-card-author-name">
                                                Никита Кузнецов
                                            </div>
                                            <div class="reviews__slider-card-author-role">
                                                Компьютер для игр и стриминга
                                            </div>
                                        </div>
                                    </div>
                                    <div class="reviews__slider-card-link">
                                        Читать отзыв
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="reviews__slider-card">
                                    <div class="reviews__slider-card-image-container">
                                        <img data-src="img/reviews/1.jpg" alt=""
                                            class="reviews__slider-card-image lazyload">
                                    </div>
                                    <div class="reviews__slider-card-content">


                                        <h4 class="reviews__slider-card-title">
                                            Спасибо команде Бригмана за отличный, мощный компьютер..
                                        </h4>
                                        <div class="reviews__slider-card-author">
                                            <div class="reviews__slider-card-author-name">
                                                Виктор Головин
                                            </div>
                                            <div class="reviews__slider-card-author-role">
                                                Компьютер для работы (3D, монтаж видео)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="reviews__slider-card-link">
                                        Читать отзыв
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="reviews__slider-card">
                                    <div class="reviews__slider-card-image-container">
                                        <img data-src="img/reviews/2.jpg" alt=""
                                            class="reviews__slider-card-image lazyload">
                                    </div>
                                    <div class="reviews__slider-card-content">


                                        <h4 class="reviews__slider-card-title">
                                            Заказывал компьютер сыну на День рождения, пришло все точно...
                                        </h4>
                                        <div class="reviews__slider-card-author">
                                            <div class="reviews__slider-card-author-name">
                                                Антон Петров


                                            </div>
                                            <div class="reviews__slider-card-author-role">
                                                Компьютер для работы (Фотошоп)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="reviews__slider-card-link">
                                        Читать отзыв
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="contact-us">
    <div class="ticker contact-us__ticker js-ticker">
        <div class="ticker__track">
            <div class="ticker__inner-track">
                <div class="ticker__item">
                    Напишите нам<span>&nbsp;—&nbsp;</span>
                </div>
            </div>

        </div>
    </div>
    <div class="container">

        <form action="/" method="POST" class="contact-us__form" data-need-validation="">
            <div class="contact-us__form-bg">
                <div class="contact-us__form-bg-image-wrapper">
                    <img data-src="img/contact-us-bg.png" alt="" class="contact-us__form-bg-image lazyload">
                </div>
            </div>
            <h2 class="contact-us__form-heading">
                Оставить заявку
            </h2>
            <div class="contact-us__form-fields">
                <div class="contact-us__form-field">
                    <label class="contact-us__form-label">
                        <input type="text" name="your-name" class="contact-us__form-input" required=""
                            placeholder="Ваше имя">
                        <span class="contact-us__form-label-text">
                            Ваше имя
                        </span>
                    </label>
                </div>
                <div class="contact-us__form-field">
                    <label class="contact-us__form-label">
                        <input type="tel" name="your-phone" class="contact-us__form-input js-phone-input" required=""
                            data-parsley-phone="" placeholder="Телефон">
                        <span class="contact-us__form-label-text">
                            Телефон
                        </span>
                    </label>
                </div>
                <div class="contact-us__form-field">
                    <label class="contact-us__form-label">
                        <input type="email" name="your-email" class="contact-us__form-input" required=""
                            placeholder="Почта">
                        <span class="contact-us__form-label-text">
                            Почта
                        </span>
                    </label>
                </div>
                <div class="contact-us__form-field contact-us__form-field--wide">
                    <label class="contact-us__form-label">

                        <textarea name="your-comment" class="contact-us__form-input"
                            placeholder="Ваш комментарий"></textarea>
                        <span class="contact-us__form-label-text">
                            Комментарий
                        </span>
                    </label>
                </div>
            </div>
            <div class="contact-us__form-controls">
                <button type="submit" class="contact-us__form-submit">
                    Отправить
                </button>
                <label class="contact-us__form-checkbox">
                    <input type="checkbox" name="policy" value="Y" class="contact-us__form-checkbox-input" required=""
                        checked="">
                    <span class="contact-us__form-checkbox-mark">

                    </span>
                    <span class="contact-us__form-checkbox-text">
                        Соглашаюсь на обработку <a href="#">
                            персональных данных
                        </a>
                    </span>
                </label>
            </div>
            <img data-src="img/contact-pc.png" alt="" class="contact-us__form-pc lazyload">

           
        </form>
    </div>
</section>

{{/content}}
{{/extend}}