.faq {
    margin-bottom: 34rem;
    position: relative;
    z-index: 5;

    @include breakpoint(mobile) {
        margin-bottom: 8rem;

        .container {
            display: flex;
            flex-direction: column;
        }
    }
}

.faq__heading {
    margin-bottom: 3.5rem;
    @include breakpoint(mobile) {
        margin-bottom: 2.8rem;
    }
}

.faq__large-heading {
    font-weight: normal;
    font-size: 5rem;
    line-height: 6rem;
    text-transform: uppercase;
    margin-bottom: 5.5rem;
    font-family: var(--helios);
    max-width: 76rem;

    @include breakpoint(mobile) {
        font-size: 2.8rem;
        line-height: 3.2rem;
        margin-bottom: 2rem;
    }
}

.faq__row {
    display: grid;
    grid-template-columns: minmax(0, 33rem) minmax(0, 1fr);
    grid-gap: 2rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        display: contents;
    }
}

.faq__col {
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.faq__medium-heading {
    font-weight: normal;
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 3.5rem;
    font-family: var(--helios);
    text-transform: uppercase;

    @include breakpoint(mobile) {
        font-size: 2.8rem;
        line-height: 3.2rem;
        margin-bottom: 2rem;

        display: none;
    }
}

.faq__popular-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;

    @include breakpoint(mobile) {
        display: none;
    }
}

.faq__popular-list-item {
    margin-bottom: 2rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.faq__popular-link {
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    padding-left: 4rem;
    display: block;
    position: relative;
    display: inline-flex;

    &.active {
        color: var(--primary-color);
    }
    &::before {
        content: '';
        width: 2rem;
        height: 1px;
        background-color: currentColor;
        flex-shrink: 0;

        position: absolute;
        left: 0;
        top: 0.7rem;
        margin-right: 2rem;
        flex-shrink: 0;
    }
}

.faq__link {
    padding: 1.2rem 2.4rem;
    font-size: 2.2rem;
    line-height: 2.6rem;
    border: 1px solid #ffffff;
    border-radius: 5rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: auto;
    align-self: flex-start;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;

    @include breakpoint(mobile) {
        order: 10;
        padding: 0.8rem 1.4rem;
        font-size: 1.4rem;
        line-height: 1.7rem;

        margin-top: 3.2rem;
    }

    &:hover {
        background-color: var(--primary-color);
        color: white;
        border-color: var(--primary-color);
    }
}

.faq__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2.4rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 0.2rem;
    }
}

.faq__list-item {
    @include breakpointMF(small-tablet) {
        &:nth-child(1),
        &:nth-child(2) {
            z-index: 20;
        }
        &:nth-child(3),
        &:nth-child(4) {
            z-index: 19;
        }
        &:nth-child(5),
        &:nth-child(6) {
            z-index: 18;
        }
        &:nth-child(7),
        &:nth-child(8) {
            z-index: 17;
        }
        &:nth-child(9),
        &:nth-child(10) {
            z-index: 16;
        }
        &:nth-child(11),
        &:nth-child(12) {
            z-index: 15;
        }
    }
}

.faq__tabs {
    position: relative;
}

.faq__tabs-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    &.active {
        opacity: 1;
        visibility: inherit;
        z-index: 10;
        position: relative;
        transition: opacity 0.4s, visibility 0.4s;
    }
}

.faq__card {
    height: 11rem;
    position: relative;

    @include breakpoint(mobile) {
        height: auto;
    }
}

.faq__card-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    background: #1e133b;
    border-radius: 2rem;
    color: white;
    transition: background-color 0.3s;

    @include breakpoint(mobile) {
        position: relative;
    }

    .faq__card.active & {
        background: #6a05e5;

        z-index: 30;
        transition: background-color 0.3s;
    }
}

.faq__card-btn {
    height: 11rem;
    display: flex;
    align-items: center;
    padding: 1rem 4rem;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2rem;
    text-transform: uppercase;
    font-family: var(--helios);
    cursor: pointer;
    user-select: none;
    justify-content: space-between;

    @include breakpoint(mobile) {
        height: 7.2rem;
        padding: 0.5rem 2rem;
        font-size: 1rem;
        line-height: 1.4rem;
    }
}

.faq__card-btn-plus {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    margin-left: 3rem;
    position: relative;

    @include breakpoint(mobile) {
        width: 2.4rem;
        height: 2.4rem;
        margin-left: 2rem;
    }
    & > span {
        width: 100%;
        height: 0.2rem;
        background-color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.2s;

        &:nth-child(2) {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

    .faq__card.active & {
        & > span {
            &:nth-child(1) {
                transform: translate(-50%, -50%) rotate(30deg);
            }
            &:nth-child(2) {
                transform: translate(-50%, -50%) rotate(-30deg);
            }
        }
    }
}

.faq__card-content {
    height: 0;
    overflow: hidden;
}

.faq__card-content-inner {
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: 0 4rem;
    padding-bottom: 2rem;

    min-height: 13.4rem;

    @include breakpoint(mobile) {
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.4rem;
        padding: 0 2rem;
        padding-bottom: 2rem;
        min-height: auto;
    }
}
