@font-face {
    font-family: 'HeliosExtC';
    src: url('../assets/fonts/HeliosExtC.woff2') format('woff2'), url('../assets/fonts/HeliosExtC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../assets/fonts/GolosText-Regular.woff2') format('woff2'), url('../assets/fonts/GolosText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
