.our-approach {
    margin-bottom: 32rem;
    position: relative;
    z-index: 2;

    @include breakpoint(mobile) {
        margin-bottom: 8rem;
    }
}

.our-approach__heading {
    margin-bottom: 3.5rem;
}

.our-approach__text {
    max-width: 88rem;
    font-size: 5rem;
    line-height: 5.5rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 2.8rem;
        max-width: none;
    }
}
