.our-approach {
    margin-bottom: 32rem;
    position: relative;
    z-index: 2;
}

.our-approach__heading {
    margin-bottom: 3.5rem;
}

.our-approach__text {
    max-width: 88rem;
    font-size: 5rem;
    line-height: 5.5rem;
}
