.page-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 80;

    .mobile-menu-open & {
        padding-right: var(--sb-width, 0);
    }

    .modal-open & {
        padding-right: var(--sb-width, 0);
    }
}

.page-header__row {
    padding: 3.5rem 0;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;

    @include breakpoint(mobile) {
        padding: 2rem 0;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        bottom: 0rem;
        z-index: -1;
        pointer-events: none;
        background-image: url('../img/header-decorative.png');
        background-size: contain;
        background-position: left 8.5rem top;
        background-repeat: no-repeat;

        @include breakpoint(mobile) {
            left: calc(-1 * var(--content-padding));
            right: calc(-1 * var(--content-padding));
            width: auto;
            background-position: left top;
        }
    }
}

.page-header__logo {
    flex-shrink: 0;
    position: relative;
    z-index: 150;
}

.page-header__logo-image {
    width: 17rem;
    height: auto;
    display: block;

    @include breakpoint(mobile) {
        width: 10rem;
    }
}

.page-header__nav {
    width: 20%;
    flex-grow: 1;
    padding: 0 3rem;

    @include breakpoint(mobile) {
        display: none;
    }
    & > ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;

        & > li {
            flex-shrink: 0;

            & > a {
                font-size: 1.5rem;
                line-height: 1.8rem;
                text-transform: uppercase;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }
}

.page-header__buttons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-shrink: 0;
    position: relative;
    z-index: 150;

    @include breakpoint(mobile) {
        display: none;
    }
}

.page-header__button {
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1.2rem 2.4rem;
    position: relative;
    z-index: 1;
    color: white;
    white-space: nowrap;
    flex-shrink: 0;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #ffffff;
        border-radius: 5rem;
        z-index: -1;
    }

    &:link,
    &:visited {
        color: white;
    }

    &--filled {
        &::before {
            border: none;
            background: linear-gradient(92.98deg, #9c5de0 7.95%, #5200ff 100%);
        }
    }
}

.page-header__burger {
    flex-shrink: 0;
    margin-left: 16rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
    z-index: 150;

    @include breakpoint(mobile) {
        margin-left: auto;
        gap: 0.4rem;
    }

    & > span {
        width: 4rem;
        height: 0.2rem;
        background-color: #fff;
        flex-shrink: 0;
        transition: opacity 0.2s, transform 0.2s, transform 0.2s;

        @include breakpoint(mobile) {
            width: 2rem;
        }
    }

    .mobile-menu-open & {
        & > span {
            &:nth-child(1) {
                transform: translateY(0.7rem) rotate(30deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(-0.7rem) rotate(-30deg);
            }
        }

        @include breakpoint(mobile) {
            & > span {
                &:nth-child(1) {
                    transform: translateY(0.6rem) rotate(30deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: translateY(-0.6rem) rotate(-30deg);
                }
            }
        }
    }
}

.page-header__menu {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background-color: #100916;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;

    .container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .mobile-menu-open & {
        right: var(--sb-width, 0);
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
}

.page-header__menu-inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 17rem;
    position: relative;
    z-index: 1;
    padding-top: 19rem;
    padding-bottom: 6rem;

    @include breakpoint(mobile) {
        padding-top: 10rem;
        padding-bottom: 3.5rem;
        padding-left: 0;
    }
}

.page-header__menu-nav {
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        margin-bottom: 5rem;
    }

    & > ul {
        display: flex;
        flex-direction: column;

        & > li {
            margin-bottom: 2.5rem;

            @include breakpoint(mobile) {
                margin-bottom: 2rem;
            }
            &:last-child {
                margin-bottom: 0;
            }
            & > a {
                font-weight: normal;
                font-size: 3rem;
                line-height: 1.2;
                text-transform: uppercase;
                font-family: var(--helios);

                @include breakpoint(mobile) {
                    font-size: 1.6rem;
                    line-height: 1.2;
                }

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }
}

.page-header__menu-social-list {
    display: flex;
    align-items: center;
    gap: 6.4rem;
    margin-top: auto;

    @include breakpoint(mobile) {
        gap: 1rem;
        margin: 0;
    }
}

.page-header__menu-social-list-item {
}

.page-header__menu-social-link {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--primary-color);
    font-family: var(--helios);
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    .no-touch &:hover,
    .touch &:active {
        color: white;
    }
    svg {
        width: 3.2rem;
        height: 3.2rem;
        flex-shrink: 0;
        margin-right: 1rem;
        fill: white;
    }
}

.page-header__menu-mops {
    position: absolute;
    right: 0rem;
    bottom: 0;
    width: 70rem;

    @include breakpoint(mobile) {
        display: none;
    }

    &::before {
        content: '';
        position: absolute;
        background-image: url('../img/mops-quote-bar.svg');
        width: 4rem;
        height: 7.2rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        bottom: 24rem;
        left: 50%;
        margin-left: -10rem;
        transform: translateX(-50%);
    }
}

.page-header__menu-mops-image {
    display: block;
    height: auto;
}

.page-header__menu-mops-text {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 56rem;
    height: auto;
    padding: 5rem;
    border: 1px solid #2e2239;
    border-radius: 2rem;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.4rem;
}

.page-header__menu-social-link-text {
    @include breakpoint(mobile) {
        display: none;
    }
}

.page-header__menu-buttons {
    display: none;

    @include breakpoint(mobile) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 0.6rem;
        margin-bottom: 3.2rem;
    }
}

.page-header__menu-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1.2rem 2.4rem;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border: 1px solid #ffffff;
        border-radius: 5rem;
        transition: background-color 0.2s, border-color 0.2s;
    }
    &:link,
    &:visited {
        color: white;
    }

    &--filled {
        &::before {
            background: linear-gradient(92.98deg, #9c5de0 7.95%, #5200ff 100%);
            border: none;
        }
    }
}
