.ticker {
    position: relative;
    
}

.ticker__track {
   

    @include breakpointMF(small-tablet) {
        display: flex;
        align-items: center;
    }
   
}

.ticker__inner-track {
   
    // animation: ticker 18s linear infinite;

    @include breakpointMF(small-tablet) {
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }
}

.ticker__item {
    font-weight: normal;
    font-size: 11.5rem;
    line-height: 15rem;
    text-transform: uppercase;
    white-space: nowrap;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        font-weight: normal;
        font-size: 3.2rem;
        line-height: 4rem;
        white-space: initial;
        flex-shrink: 1;

        span:not([class]) {
            display: none;
        }
    }
}


